/* faz aplicação global do CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Variaveis que podem ser usadas para todo o documento */
/* Arquivo somente no Dark mode */
:root {
  --bg-url: url(../img/backgroundDark.png); /*variavel que declaramos*/
  --text-color: #fff;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(../img/MoonStars.svg);
  --highlight-color: rgba(255, 255, 255, 0.3);
}

/*class para criar o modo light*/
.light {
  --bg-url: url(../img/backgroundWhite.png);
  --text-color: #000;
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.2);
  --switch-bg-url: url(../img/Sun.svg);
  --highlight-color: rgba(0, 0, 0, 0.3);
}

body {
  background: var(--bg-url) no-repeat top center / cover;
  height: 100vh; /* vh = tamanho da tela */
  color: var(--text-color); /*para os textos mudarem de cor conforme o tema q tiver*/
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif; /*fonte*/
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0px 24px;
}

#perfil {
  display: flex; /*não funciona so com isso, o flex alinha*/
  flex-direction: column;
  align-items: center; /* itens no centro*/
}

#perfil img {
  width: 112px; /*comprimento*/
  height: 112px;
  object-fit: cover; /* não fiz os "border" porque a minha imagem ja era redonda*/
}

#perfil p {
  margin-top: 8px; /*margem no topo*/
  font-weight: 500;
  line-height: 24px;
}

#botao {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#botao button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0; /* borda*/
  background: white var(--switch-bg-url) no-repeat center;

  position: absolute; /*faz com que o item da tela fique solto*/
  z-index: 1; /* camada um na frente do outro ou um em cima do outro*/
  top: 50%;
  transform: translateY(-50%);

  animation: slide-out 0.2s; /*vai e volta do botão*/
}

.light #botao button{
  animation: slide-in 0.2s forwards;
}

#botao button {
  /*passa o mouse em cima*/
  outline: 8px solid var(--surface-color-hover);
  transition: all 0.2s; /*velocidade no inicio da transição*/
}

#botao span {
  background: var(--surface-color);
  display: block;
  width: 54px;
  height: 24px;
  border: 1px solid var(--stroke-color);
  border-radius: 24px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#links ul {
  list-style: none; /*none tira as bolinhas/marcações*/
  display: flex;
  flex-direction: column;
  gap: 16px; /*espaçamento enetre um e outro*/
  padding: 24px; /*espaço interno*/
}

#links ul li a {
  display: flex; /*solta os itens no meio*/
  align-items: center;
  justify-content: center; /*justifica o conteuda no centro*/
  padding: 16px 24px;
  border: 1px solid var(--stroke-color);
  border-radius: 8px; /*arredonda*/
  background: var(--surface-color); /*fundo*/
  text-decoration: none;
  font-weight: bold; /*tamanho da fonte*/
  color: var(--text-color);
}

#links ul li a:hover {
  background: var(--surface-color-hover);
  border: 1px solid var(--text-color)
  ;
}

#redeSocial {
  display: flex;
  justify-content: center;
  padding: 24px;
  gap: 16px;
  font-size: 24px;
}

#redeSocial a {
  text-decoration: none;
  color: var(--text-color);
}

#footer {
  text-align: center; /*para colocar no centro, que so funciona com textos*/
  font-size: 14px;
  padding: 24px;
}

#footer a {
  text-decoration: none;
  color: var(--text-color);
}

/* animação do botão*/
@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}
